body {
  padding: 40px 0;
}

section#about-me {
  color:          #5a5a5a;
}

section#about-me p {
  margin-bottom: 20px;
}

section#about-me p,
section#about-me li {
  font-family:    Georgia,Times,serif;
  text-align:     left;
  line-height:    160%;
  font-size:      14px;
}

section#about-me #portfolio {
  margin-bottom: 20px;
}

section#about-me #portfolio p {
  margin-bottom: 8px;
}

section#about-me #more_soon {
  color:        #aF3300
}